*{
margin: 0 ;
padding: 0 ;
}

body,html{
    overflow-x: hidden;
    font-family: Arial,Helvetica,sans-serif;;
}

nav img{
    height: 70px !important;
}

.book-img img{
    height: 350px !important;
}


#newImg{
    height: 700px !important;
}


